/**
 * Default
 */

/* Grids */

.wrap { 
	width: 980px; 
	margin: 0 auto; 
	height: auto; 
	min-height: 100%; 
	position:relative; 
}

.c0,
.c1, 
.c2, 
.c3,
.c4,
.c5,
.c6,
.c7,
.c8,
.c9 { 
	margin: 0 10px 0 0; 
	display:inline; 
	float:left;  
}

.c9 {
	width:980px; 
}

.c8 { 
	width:730px; 
}

.c7 { 
	width:670px; 
}

.c6 { 
	width:520px; 
}

.c5 { 
	width:465px; 
}

.c4 { 
	width:320px; 
}

.c3 { 
	width:240px; 
}

.c2 { 
	width:220px; 
}

.c1 { 
	width:160px; 
}

.c0 { 
	width:140px; 
}


.first { 
	margin-left:	0;
	clear:left; 
}

.last { 
	margin:	0; 
	border:	none; 
}

.clear { 
	clear:	both; 
}

/* link */

a, 
a:active, 
a:visited { 
	color: #2881B3; 
	text-decoration: none; 
}
a:hover { 
	text-decoration: none; 
}

/* fonts */

h1, h2, h3, h4, h5, h6 { 
	color: #333333; 
	font-weight: normal; 
}    

h1 { 
	font-size: 30px; 
}

h2 { 
	font-size: 26px; 
}

h3,
h4 { 
	font-size: 12px; 
}

strong { 
	color: #333333; 
	font-weight: bold; 
} 

small { 
	font: 11px "Lucida Grande",Arial,"PMingLiU","Lucida Sans Unicode",Verdana,sans-serif,Tahoma; 
}


ol, ul , dl { 
	line-height: 24px; 
	margin:0; 
	list-style-position:inside; 
}

ul li a:hover { 
	text-decoration: underline; 
	color:#000; 
}


/* Forms */

form { 
	overflow: visible; 
}

input:focus,
textarea:focus,
select:focus { 
	outline-width:0;
}

.form-text,
.form-select,
.form-textarea { 
	border-color:#C4C4C4 #E9E9E9 #E9E9E9 #C4C4C4;
	border-style: solid;
	border-width: 1px;
	padding: 8px;
	color: #777; 
	font-size: 12px; 
	width: 35%; 
}

textarea { 
	line-height: 18px;
	overflow: auto;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.form-submit { 
	margin-bottom: 0; 
	border: 0 none;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	cursor: pointer;
	display: inline-block;
	font-size: 12px;
	padding: 4px 12px;
	width: auto;
	*width: 1;
	overflow: visible;
	background: #2888c6;
	color: #fff; 
	font-size: 12px;
	position: relative;
	vertical-align: middle;
}

input:focus,
textarea:focus { 
	-moz-box-shadow: 0 1px 1px rgba(196,196,196,0.5);
	-webkit-box-shadow:0 1px 1px rgba(196,196,196,0.5);
	box-shadow:0 1px 1px rgba(196,196,196,0.5);
	-webkit-focus-ring-color:none;border-color:#c4c4c4;
	background-color:#FFFFF0; 
}

fieldset { 
	border: 0 none;
	margin:10px 0;
	padding:10px 0;
	position:relative; 
}

legend { 
	background: #fff;
	color: #999999;
	font-weight: bold;
	padding: 0 6px 0 0; 
}

label { 
	font-size: 12px;
	text-transform: uppercase; 
	color: #666; 
}

label.required:before { 
	content:"*";
	color: red;
	font-family: "Lucida Grande",Verdana,Arial,Helvetica,sans-serif; 
}

fieldset p { 
	margin-bottom: 15px;
}

/*Basic*/
body {
	font: 12px/21px Arial,Helvetica,Verdana,Geneva,sans-serif;
	text-align: center;
	background: #fff url("../images/bg.png") repeat-x 0 0; 
	color:#555;
}

.region {
	text-align: left;
	width: 100%;
	float: left;
}

/**
*Header
**/
#header {
	color: #cacbc6;
	background: #fff;
	margin-bottom: 20px;
	margin-top: 30px;/*del*/
	border-bottom: 1px solid #eee;
}

/*Logo*/
#logo {
	float: left;
	margin: 15px 15px 0 15px;
}

#logo h1 a {
	background: url("../images/logo.png") no-repeat 0 0;
	color: #000;
	display: block;
	width: 125px;
	height: 53px;
	text-indent: -9999px;
}

/*Navigation*/

#navigation {
	padding: 5px 0;
}

ul.primary-menu {
	float: left;
	display: inline;
	margin: 0;
}

.primary-menu li {
	border-radius: right;
	float: left;
	font-size: 12px;
}

.primary-menu li a {
	background: url("../images/icon-nav.png") no-repeat 135px 40px;
	display: block;
	color: #333;
	float: left;
	width: 115px;
	padding: 30px 35px 8px 10px;
	font-weight: bold;
	line-height: 16px;
}

.primary-menu li a:hover {
	background: #ddd url("../images/icon-nav-hover.png") no-repeat 135px 45px;
	color: #2881b3;
	text-decoration: none;
}

/*Search form*/
#search-box {
	background: #fff;
	position: absolute;
	right: 0;
	top: 53px;
	padding: 2px;
	border: 1px solid #ddd;
}

#search label {
	display: none;
}

#search .form-text {
	background: #fff url("../images/sprite.gif") no-repeat 6px -228px;
	font-size: 12px;
	width: 190px;
	border: none;
	padding: 4px 0 2px 30px;
	margin-right: 2px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	position: relative;
	top: 2px;
}

#search .form-submit {
	padding: 5px 4px;
}

/**
*	Front page content
*/

.block {
	position: relative;
	margin-bottom: 10px;
	padding: 10px;
}

#page .block-title {
	background: #4C4C4C;
	color: #fff;
	display: inline-block;
	line-height: 1;
	margin: 0 0 10px;
	padding: 7px 35px 6px 10px;
	position: relative;
	font-size: 12px;
}

/*block-views-frontpage_features-block_1*/
#block-views-frontpage_features-block_1 .views_slideshow_thumbnailhover_main  {
	float: left;
	height: 280px;
	overflow: hidden;
	width: 240px;
}

#block-views-frontpage_features-block_1 .views-slideshow-controls-bottom {
	float: right;
	overflow: hidden;
	width: 250px;
}

#block-views-frontpage_features-block_1 .views-field-field-slideshow-picture-fid {
	height: 200px;
	margin-bottom: 10px;
	margin-right: 8px;
	width: 240px;
}

#block-views-frontpage_features-block_1 .views-field-title {
	font-size: 12px;
	margin-bottom: 5px;
}

#block-views-frontpage_features-block_1 .views-field-body {
	color: #666;
	margin-right: 12px;
	float: left;
}

#block-views-frontpage_features-block_1 .views-field-comment-count {
	background: url("../images/chat-bubble.gif") no-repeat scroll 0 1px;
	font-size: 10px;
	float: left;
	margin-top: 4px;
	color: #2881B3;
	height: 13px;
	line-height: 13px;
	width: 14px;
	text-align: center;
}

#block-views-frontpage_features-block_1 .views_slideshow_thumbnailhover_div_breakout_teaser {
	border-bottom: 1px dotted #ddd;
	line-height: 20px;
	margin-bottom: 5px;
}

#block-views-frontpage_features-block_1 .views_slideshow_thumbnailhover_div_breakout_teaser .views-field-title {
	margin-bottom: 0;
}

#block-views-frontpage_features-block_1 .views_slideshow_thumbnailhover_div_breakout_teaser .views-field-title a:hover {
	font-weight: bold;
}

#block-views-frontpage_features-block_1 .views_slideshow_thumbnailhover_div_breakout_teaser .views-field-body {
	float: none;
	margin-right: 0;
	margin-bottom: 5px;
	color: #999;
}

/*block-views-Articles-block_1*/
#block-views-Articles-block_1 .views-row {
	display: inline;
	float: left;
	margin-right: 9px;
	width: 160px;
}

#block-views-Articles-block_1 .views-row-last {
	margin-right: 0;
}

#block-views-Articles-block_1 .views-field-field-article-thumbnail-fid {
	height: 70px;
	width: 160px;
	margin: 0 auto 5px;
}

#block-views-Articles-block_1 .views-field-name a {
	text-transform: uppercase;
	font-size: 11px;
	color: #999;
}

#block-views-Articles-block_1 .views-field-name a:hover {
	color: #333;
}

#block-views-Articles-block_1  .views-field-title a {
	color: #333;
}

#block-views-Articles-block_1 .views-field-body p {
	color: #666;
	margin-bottom: 5px;
}

/*Stories*/
.view-stories {
	overflow: hidden;
	border-bottom: 1px dotted #ddd;
}
.view-stories .view-stories {
	border-bottom: 0;
}
.view-stories .attachment {
	float: left;
	width: 240px;
	margin-right: 8px;
	padding-bottom: 15px;
}

.view-stories .attachment .views-field-field-story-thumbnail-fid {
	height: 120px;
	margin: 0 8px 10px 0;
}

.view-stories .attachment .views-field-title {
	color: #000;
	font-weight: bold;
	float: left;
	margin-right: 8px;
}

.view-stories .attachment .views-field-comment-count {
	background: url("../images/chat-bubble.gif") no-repeat scroll 0 1px;
	font-size: 10px;
	float: left;
	margin-top: 4px;
	color: #2881B3;
	height: 13px;
	line-height: 13px;
	width: 14px;
	text-align: center;	
}
.view-stories  .view-content {
	margin-left: 255px;
	padding-bottom: 15px;
	line-height: 24px;
}

.view-stories .view-stories .view-content {
	margin-left: 0;
	padding-bottom: 0;
}

.view-stories  .views-field-title a {
	color: #333;
}

.view-stories  .views-field-title a:hover {
	text-decoration: underline;
}
.view-stories  .view-stories .views-field-title a {
	color: #2881B3;
}
.view-stories  .view-stories .views-field-title a:hover {
	text-decoration: none;
}

.view-stories .more-link a {
	border-radius: 2px;
	-webkit-border-radius: 2px;
	font-size: 12px;
	text-decoration: none;
	background: #2888C6;
	color: #fff;
	float: right;
	padding: 2px 8px;
	margin: 16px 0 10px;
}

.view-stories .more-link a:focus,
.view-stories .more-link a:hover {
	background: #3394cf;
}

/*Cloumn_left*/

#cloumn_left .block,
#cloumn_middle .block,
#cloumn_right .block {
	border-right: 1px solid #eee;
	position: relative;
	margin-bottom: 10px;
	padding: 10px;
}

#cloumn_right .block {
	border-right: none;
}

.view-clinical-topics .view-clinical-topics .views-field-title {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 6px;
	color: #333;
}

.view-clinical-topics .view-content ul {
	padding-bottom: 15px;
}

.view-clinical-topics .view-content li.views-row {
	background: url("../images/sprite.gif") no-repeat scroll left bottom;
	padding-left:8px;
	list-style: none inside none;
}

.view-clinical-topics .view-content li.views-row a {
	color: #333;
}

.view-clinical-topics .view-content li.views-row a:hover {
	text-decoration: underline;
}
/*Reports*/
.view-clicnical-reports .view-content {
	padding-bottom: 15px;
}
.view-clicnical-reports .views-row a {
	color: #333;
}

.view-clicnical-reports .views-row a:hover {
	text-decoration: underline;
}

/*view-Comments*/
.view-Comments .views-row {
	overflow: hidden;
	border-bottom: 1px dotted #ddd;
	margin-bottom: 5px;
	padding-bottom: 5px;
	line-height: 24px;
}

.view-Comments  .views-field-comment p {
	margin-bottom: 5px;
	color: #666;
}

.view-Comments .views-field-picture {
	float: left;
	margin-right: 5px;
}


.view-Comments .views-field-picture img { 
	border: 1px solid #f0f0f0;
	padding: 1px;
}

.view-Comments .views-field-name {
	float: left;
	margin-right: 5px;
}

.view-Comments .views-field-timestamp {
	color: #ccc;
}
/*Most popular*/
.view-popular .views-field-name a {
	color: #666;
	text-transform: uppercase;
}

.view-popular .views-field-name a:hover {
	color: #000;
	text-decoration: underline;
} 

.view-popular .views-field-title a{
	margin-right: 5px;
}

.view-popular .views-field-title a:hover {
	color: #000;
	text-decoration: underline;
}

.view-popular .views-field-title .comment-count {
	background: url("../images/chat-bubble.gif") no-repeat scroll 50% 51%;
	font-size: 10px;
	color: #2881B3;
	padding: 3px 4px 4px;
	text-align: center;	
}

.view-popular .views-field-body p {
	color: #666;
	margin-bottom: 5px;
}
/*News*/
#block-views-news-block_4 {
	margin-bottom: 10px;
	padding: 0;
	position: relative;
	background: #efefec;
}

#block-views-news-block_4 .bg-before {
	background: #ededed;
	border-color: #fff #fff #ededed #ededed;
	border-style: solid;
	border-width: 0 16px 16px 0;
	-moz-box-shadow: 0 1px 0 rgba(0,0,0,0.1),-1px 1px 1px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.1),-1px 1px 1px rgba(0,0,0,0.1);
	box-shadow: 0 1px 0 rgba(0,0,0,0.1),-1px 1px 1px rgba(0,0,0,0.1);
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	width: 0;
}
#block-views-news-block_4 .block-content {
	padding: 10px 15px;
}

.view-news .view-header {
	background: #4C4C4C;
	color: #fff;
	display: inline-block;
	line-height: 1;
	margin: 0  0 10px -20px;
	padding: 7px 35px 6px 10px;
	position: relative;
	font-size: 12px;
}

.view-news .view-content .views-row {
	border-bottom:  1px dotted #ddd;
	padding-bottom: 15px;
	margin-bottom: 15px;
	overflow: hidden;
}

.view-news  .views-field-title {
	font-size: 16px;
	margin-bottom: 10px;
}

.view-news  .views-field-title a {
	color: #000;
	text-decoration: none;
}

.view-news .views-field-body p {
	color: #666;
	margin-bottom: 5px;
}

.view-news .views-field-view-node a {
	border-radius: 2px;
	-webkit-border-radius: 2px;
	display: inline-block;
	font-size: 12px;
	position: relative;
	text-decoration: none;
	background: #ddd;
	color: #666;
	float: right;
	padding: 2px 8px;
	margin-top: 15px;
}

.view-news .attachment .view-news .view-header {
	color: #666;
	font-size: 11px;
	padding: 0;
	display: block;
	margin: 0 0 5px 0;
	background: transparent; 
}

.view-news .attachment .view-news .view-header a {
	text-transform: uppercase;
	color: #666;
	text-decoration: none;
}

.view-news .attachment .view-news .view-header a:hover {
	color: #000;
}
.view-news .attachment .view-news {
	padding-bottom: 15px;
}
.view-news .attachment .view-news .view-content .views-row {
	border: none;
	margin: 0;
	padding: 0 0 0 8px;
	background: url("../images/sprite.gif") no-repeat scroll left bottom;
	
}

.view-news .attachment .view-news .view-content .views-row .views-field-title {
	font-size: 12px;
	margin-bottom: 0;
}

.view-news .attachment .view-news .view-content .views-row .views-field-title a {
	color: #333;
}
.view-news .attachment .view-news .view-content .views-row .views-field-title a:hover {
	text-decoration: underline;
}
/**
 * Footer
 */
#footer {
	background: #4c4c4c;
	margin-top: 20px;
	color: #fff;
} 